* {
  margin: 0;
  padding: 0;
  font-family: '微软雅黑';
}
html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover,
a:active,
a:link,
a:visited {
  outline: none;
}
input:focus {
  outline: none;
}
.clear:before {
  display: table;
  content: "";
  clear: both;
}
.clear:after {
  display: table;
  content: "";
  clear: both;
}
table tr:first-child {
  background: rgba(0, 0, 0, 0.4);
}
table tr:first-child th {
  color: white;
  text-align: center;
}
table tr:first-child:hover {
  background: rgba(0, 0, 0, 0.4);
}
table tr td {
  text-align: center;
}
table tr td a {
  display: block;
  color: #333333;
}
table tr:hover {
  background: rgba(0, 0, 0, 0.1);
}
table tr:hover * {
  color: white;
}
* {
  font-size: 1rem;
}
html,
body {
  width: 100%;
  height: 100%;
  background: #333333;
  color: white;
  overflow: hidden;
}
.full_panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.dialog_panel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.dialog {
  width: 85%;
  margin: 0 auto;
  border-radius: 10px;
  background: #f7efd9;
  border: 4px solid #49403e;
  overflow-y: auto;
  padding-top: 20px;
}
.close_img {
  display: block;
  width: 70%;
  margin: 20px auto;
}
#audio {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
}
.phone_panel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.phone_panel .detail {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background: url("../images/detail_bg.jpg") no-repeat center center;
  background-size: 100% 100%;
}
.phone_panel .detail * {
  font-size: 1.6rem;
}
.phone_panel .detail p {
  padding: 15px;
  margin-top: 10%;
  height: 80%;
  overflow-y: auto;
}
.phone_panel .detail p img {
  display: block;
  width: 60%;
  margin: 0 auto;
}
.phone_panel .detail .blank {
  width: 100%;
  height: 70%;
}
.phone_panel .detail .detail_game {
  display: block;
  width: 40%;
  margin: 20px auto;
}
.phone_panel .detail .detail_game img {
  display: block;
  width: 100%;
}
.phone_panel .detail .btnbox {
  width: 80%;
  margin: 0 auto;
}
.phone_panel .detail .btnbox:before {
  display: table;
  content: "";
  clear: both;
}
.phone_panel .detail .btnbox:after {
  display: table;
  content: "";
  clear: both;
}
.phone_panel .detail .btnbox a {
  float: left;
  width: 50%;
}
.phone_panel .detail .btnbox a img {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.phone_panel .search {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 600;
  background: #fafafa;
  font-family: "微软雅黑";
  display: none;
  font-size: 1rem;
}
.phone_panel .search .word {
  font-size: 0.8rem;
}
.phone_panel .search .form-group {
  padding: 0 15px;
  padding-top: 30px;
}
.phone_panel .search .form-group:before {
  display: table;
  content: "";
  clear: both;
}
.phone_panel .search .form-group:after {
  display: table;
  content: "";
  clear: both;
}
.phone_panel .search .form-group .mobile {
  float: left;
  width: 70%;
  padding: 6px 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  vertical-align: middle;
}
.phone_panel .search .form-group .search_btn {
  float: right;
  background: #3cb2e2;
  color: white;
  vertical-align: middle;
  border-radius: 4px;
  padding: 6px 12px;
  border: 1px solid #3cb2e2;
}
.phone_panel .search .error {
  color: red;
  padding: 12px 24px;
  display: none;
  font-weight: normal;
}
.phone_panel .search .search_loading {
  display: none;
  padding: 30px 0;
  text-align: center;
  color: #808080;
}
.phone_panel .search .search_result {
  width: 100%;
  display: none;
  padding: 15px;
}
.phone_panel .search .search_result * {
  font-size: 0.8rem;
}
.phone_panel .search .search_result .undefine {
  display: none;
}
.phone_panel .search .search_result .undefine img {
  display: block;
  width: 90%;
  margin: 20px auto;
}
.phone_panel .search .search_result .defined {
  width: 100%;
  display: none;
  padding-top: 20px;
}
.phone_panel .search .search_result .defined dl {
  border-top: 1px solid #e6e6e6;
  margin-bottom: 0;
  padding: 15px 0;
}
.phone_panel .search .search_result .defined dt {
  color: #333333;
  font-weight: bold;
  padding-bottom: 15px;
}
.phone_panel .search .search_result .defined dd {
  color: #808080;
  line-height: 1.5em;
  width: 100%;
}
.phone_panel .search .search_result .defined .inviter {
  color: #3d8099;
  font-weight: bold;
}
.phone_panel .search .search_result .defined .gift {
  display: none;
}
.phone_panel .search .search_result .defined .gift p {
  color: #808080;
}
.phone_panel .search .search_result .defined .gift p .turn {
  display: none;
}
.phone_panel .search .search_result .defined .nums {
  color: #701514;
  font-weight: bold;
}
.phone_panel .search .search_result .defined .invite_url {
  text-align: justify;
}
.phone_panel .search .search_result .defined .game_again {
  display: block;
  width: 40%;
  margin: 10px auto;
}
.phone_panel .search .search_result .defined .game_again img {
  display: block;
  width: 100%;
}
.phone_panel .search .search_result .defined .show {
  display: block;
}
.phone_panel .search .search_result .show {
  display: block;
}
.phone_panel .search .show {
  display: block;
}
.phone_panel .search .hide {
  display: none;
}
.phone_panel .search .get_gift {
  width: 50%;
  padding: 10px 15px;
  background: orange;
  border-radius: 4px;
  margin: 0 auto;
  text-align: center;
  display: none;
}
.phone_panel .ranking {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 600;
  display: none;
  background: #00121f;
}
.phone_panel .ranking .main {
  width: 100%;
  height: 100%;
  background: url('../images/ranking_table_bg.png') center center no-repeat;
  background-size: 100% 100%;
}
.phone_panel .ranking .main .blank {
  width: 100%;
  height: 20%;
}
.phone_panel .ranking .main dl {
  padding: 0 4% 0 10%;
  height: 70%;
  overflow: hidden;
}
.phone_panel .ranking .main dl dd {
  height: 12%;
  background: url("../images/ranking_dd_bg.png") center center no-repeat;
  background-size: 100% 100%;
  margin-bottom: 10px;
}
.phone_panel .ranking .main dl dd:before {
  display: table;
  content: "";
  clear: both;
}
.phone_panel .ranking .main dl dd:after {
  display: table;
  content: "";
  clear: both;
}
.phone_panel .ranking .main dl dd * {
  color: #f4f2dc;
  vertical-align: middle;
}
.phone_panel .ranking .main dl dd img {
  float: left;
  width: 20%;
  margin-left: 5%;
  margin-top: 3%;
}
.phone_panel .ranking .main dl dd .nick_name {
  float: left;
  margin-top: 5%;
  margin-left: 5%;
}
.phone_panel .ranking .main dl dd .mobile {
  float: left;
  margin: 6% 0 0 5%;
}
.phone_panel .ranking .main dl dd .text {
  float: left;
  margin: 6.5% 5% 0 5%;
}
.phone_panel .ranking .main dl dd .invite_count {
  float: left;
  margin-top: 6.5%;
}
.phone_panel .controls {
  position: absolute;
  z-index: 105;
  padding: 10px 0 0 0;
}
.phone_panel .controls .ctl_rule {
  margin-left: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../images/ctl_rule.svg) center center;
  background-size: 100% 100%;
}
.phone_panel .controls .ctl_music {
  margin-left: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../images/normalmusic.svg) center center;
  background-size: 100% 100%;
}
.phone_panel .controls .rotate {
  animation: rotating 2s linear infinite;
  -webkit-animation: rotating 2s linear infinite;
}
@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.phone_panel .wechat {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  z-index: 500;
  display: none;
}
.phone_panel .wechat .blank {
  width: 100%;
  height: 20%;
}
.phone_panel .wechat img {
  display: block;
  width: 60%;
  margin: 0 auto;
}
.phone_panel .wechat p {
  text-align: center;
  color: black;
  padding-top: 20px;
}
.phone_panel .loading {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  z-index: 400;
}
.phone_panel .loading .logo {
  width: 100%;
  height: 10%;
}
.phone_panel .loading .logo img {
  display: block;
  width: 16.8%;
  padding: 10px 0 0 10px;
}
.phone_panel .loading .game_logo {
  display: block;
  height: 24%;
  margin: 0 auto;
}
.phone_panel .loading .blank {
  width: 100%;
  height: 20%;
}
.phone_panel .loading .progress {
  width: 100%;
}
.phone_panel .loading .progress .progress_img {
  position: relative;
  width: 56%;
  margin: 0 auto;
  height: 34px;
}
.phone_panel .loading .progress .progress_img .left {
  position: absolute;
  left: 0px;
  top: 1px;
}
.phone_panel .loading .progress .progress_img .right {
  position: absolute;
  right: 0;
}
.phone_panel .loading .progress .progress_bar {
  position: relative;
  margin: 0 auto;
  width: 56%;
  height: 8px;
  background: #444a4d;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4);
}
.phone_panel .loading .progress .progress_bar div {
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(90deg, #fdc621 0%, #fdc621 50%, #4b3b0a 50%, #4b3b0a 100%);
  -webkit-background-image: linear-gradient(90deg, #fdc621 0%, #fdc621 50%, #4b3b0a 50%, #4b3b0a 100%);
  -ms-background-image: linear-gradient(90deg, #fdc621 0%, #fdc621 50%, #4b3b0a 50%, #4b3b0a 100%);
  -o-background-image: linear-gradient(90deg, #fdc621 0%, #fdc621 50%, #4b3b0a 50%, #4b3b0a 100%);
  animation: progress 0.5s infinite linear;
  -webkit-animation: progress 0.5s infinite linear;
  -ms-animation: progress 0.5s infinite linear;
  -o-animation: progress 0.5s infinite linear;
  background-size: 10px 10px;
}
@keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10px 0;
  }
}
@-webkit-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10px 0;
  }
}
@-ms-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10px 0;
  }
}
@-o-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10px 0;
  }
}
.phone_panel .loading .player {
  width: 100%;
  margin: 0 auto;
  display: none;
}
.phone_panel .loading .player dl {
  width: 100%;
}
.phone_panel .loading .player dl dd {
  width: 100%;
}
.phone_panel .loading .player dl dd input[type=text] {
  display: block;
  width: 60%;
  padding: 10px 0;
  margin: 0 auto;
  border-radius: 20px;
  border: 2px solid #dbd9d8;
  color: #808080;
  text-indent: 1em;
}
.phone_panel .loading .player dl dd input[type=text]:focus {
  border: 2px solid #fdc523;
}
.phone_panel .loading .player dl dd span {
  display: block;
  font-size: 0.8rem;
  text-align: center;
  padding: 2px 0;
}
.phone_panel .loading .player dl dd span.show {
  color: red;
}
.phone_panel .loading .player dl dd .game_begin {
  display: block;
  width: 60%;
  margin: 0 auto;
}
.phone_panel .loading .player dl dd .open_rules {
  text-align: center;
  padding-top: 20px;
  color: black;
  border: 2px solid transparent;
}
.phone_panel .rules {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 500;
  padding-top: 10%;
}
.phone_panel .rules .main {
  height: 80%;
  margin-top: 10%;
  width: 85%;
  margin: 0 auto;
  border-radius: 10px;
  background: #f7efd9;
  border: 4px solid #49403e;
  overflow-y: auto;
  padding-top: 20px;
  position: relative;
}
.phone_panel .rules .main p {
  padding: 0 20px;
  height: 84%;
  line-height: 1.5em;
  color: #49403e;
  overflow-y: auto;
  text-align: justify;
  -webkit-text-align: justify;
}
.phone_panel .rules .main p img {
  display: block;
  width: 70%;
  margin: 20px auto;
}
.phone_panel .rules .main p .gift {
  color: red;
}
.phone_panel .rules .main .rules_close {
  display: block;
  position: absolute;
  left: 20%;
  bottom: 0;
  width: 60%;
  padding: 10px 0;
}
.phone_panel .dia {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 600;
}
.phone_panel .dia .main {
  width: 85%;
  margin: 0 auto;
  border-radius: 10px;
  background: #f7efd9;
  border: 4px solid #49403e;
  overflow-y: auto;
  padding-top: 20px;
  min-height: 60%;
  margin-top: 10%;
}
.phone_panel .dia .main .header {
  background: #cec2ad;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto 10px auto;
  padding: 10px 0;
}
.phone_panel .dia .main .header p {
  width: 20%;
  margin: 0 auto;
  text-align: center;
  color: #b83e0c;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 5px;
}
.phone_panel .dia .main .content {
  background: #cec2ad;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto 10px auto;
  padding: 5px 0;
}
.phone_panel .dia .main .content img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.phone_panel .dia .main .text {
  width: 90%;
  margin: 0 auto;
  color: #30474e;
  font-weight: bold;
  font-size: 90%;
  line-height: 1rem;
  text-align: justify;
  -webkit-text-align: justify;
}
.phone_panel .dia .main .footer .dia_close {
  display: block;
  width: 70%;
  margin: 20px auto;
}
.phone_panel .tip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px 0;
  z-index: 110;
  text-indent: 1em;
  font-size: 1rem;
}
.phone_panel .page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-size: 100% auto;
  display: none;
  background-color: #002139;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.phone_panel .page .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 30px;
  background: green;
  z-index: 300;
  background: url('../images/door.png') no-repeat center center;
  background-size: 100% 100%;
}
.phone_panel .page a {
  display: block;
  position: absolute;
  background: transparent;
}
.phone_panel .start {
  display: block;
  background-size: 80% auto;
}
.phone_panel .start a {
  width: 10%;
}
.phone_panel .start .map1 {
  left: 35%;
  bottom: 56%;
}
.phone_panel .start .map2 {
  left: 80%;
  bottom: 24%;
}
.phone_panel .start .map3 {
  left: 54%;
  bottom: 30%;
}
.phone_panel .start .map4 {
  left: 13%;
  bottom: 30%;
}
.phone_panel .grave1 {
  background-size: 100% auto;
}
.phone_panel .grave1 a.box {
  width: 10%;
  left: 60%;
}
.phone_panel .grave1 .map {
  width: 12%;
  left: 4%;
}
.phone_panel .grave2 {
  background-size: 100% auto;
}
.phone_panel .grave2 .box {
  width: 12%;
  left: 48%;
}
.phone_panel .grave2 .kulou {
  width: 20%;
  left: 46%;
  transform: skew(69deg, -30deg);
  -webkit-transform: skew(69deg, -30deg);
  -ms-transform: skew(69deg, -30deg);
}
.phone_panel .grave3 {
  background-size: 100% auto;
}
.phone_panel .grave3 .box {
  width: 12%;
  left: 70%;
}
.phone_panel .grave3 .button {
  width: 12%;
  left: 84%;
}
.phone_panel .grave3 .map {
  width: 10%;
  left: 26%;
  transform: skew(0, -30deg);
  -webkit-transform: skew(0, -30deg);
  -ms-transform: skew(0, -30deg);
}
.phone_panel .grave4 {
  background-size: 100% auto;
}
.phone_panel .grave4 .map {
  width: 50%;
  left: 30%;
}
.phone_panel .success {
  background-size: 100% auto;
  background-color: transparent;
  background-position: center center;
}
@keyframes rotateself {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateself {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.phone_panel .prop {
  position: absolute;
  left: 0;
  bottom: -15%;
  width: 100%;
  z-index: 200;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.phone_panel .prop .prop_bg {
  display: block;
  width: 100%;
}
.phone_panel .prop .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.phone_panel .prop .content > div.main {
  width: 82.3%;
  height: 100%;
  margin: 0 auto;
}
.phone_panel .prop .content > div.main img {
  float: left;
  border: none;
  width: 20%;
  margin-top: 2%;
}
.phone_panel .result {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 400;
  background: #00121f;
  display: none;
}
.phone_panel .result .content {
  width: 90%;
  height: 80%;
  margin: 10% auto;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.phone_panel .result .content p {
  color: #3b1800;
  padding: 40% 16% 0 16%;
  text-align: justify;
  font-size: 1rem;
}
.phone_panel .result .content p.text {
  padding-top: 5%;
  line-height: 1.5em;
}
.phone_panel .result .content .btnbox {
  width: 100%;
  /*  .game_again {
                   display: block;
                   position: absolute;
                   left: 24%;
                   bottom: 0;
                   width: 60%;
                   // margin: 5% 0 0 22%;
                   img {
                       display: block;
                       width: 100%;
                   }
               } */
}
.phone_panel .result .content .btnbox a {
  display: block;
  width: 40%;
  position: absolute;
  bottom: 0;
}
.phone_panel .result .content .btnbox a img {
  display: block;
  width: 100%;
}
.phone_panel .result .content .btnbox .game_again {
  left: 5%;
}
.phone_panel .result .content .btnbox .search_btn {
  width: 46%;
  right: 5%;
}
